@font-face {
  font-family: "Comic Sans MS";
  src: url("src/data/comic.ttf");
}
:root {
  height: 100%;
  font-family: "Comic Sans MS", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  height: 100%;
}
#root {
  height: 100%;
}
* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}
